.form {
  margin-top: 200px;
  margin-left: 10px;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #355fdc;
  border-color: #355fdc;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #2c499d;
  border-color: #2c499d;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(44 73 157 / 50%);
}
